header{
    width: 90%;
    position: fixed;
    left: 50%;
    top: 2vh;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding-inline: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.075);

    & ul{
        display: flex;
        align-items: center;
        gap: .625rem;

        & li {
            list-style: none;
            padding: .4125rem .85rem;
            border-radius: 5px;
            & a {
                color: black;
                display: flex;
                align-items: center;
                text-decoration: none;
                justify-content: center;
                gap: .3125rem;
                & svg{
                    color: var(--cor-principal);
                }
            }
        }
        
        & li:hover{
            background-color: #ecf2f7;
        }
    }
}

.logotipo-fle img{
    width: 10rem;
    opacity: 80%;
    filter: saturate(0%);
    transform: translateY(2px);
    padding: 1rem;
}

.logotipo-fle img:hover{
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: 100%;
    filter: saturate(100%);
}


