header{
    width: 90%;
    position: fixed;
    left: 50%;
    top: 2vh;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding-inline: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.075);

    & ul{
        display: flex;
        align-items: center;
        gap: .625rem;

        & li {
            list-style: none;
            padding: .4125rem .85rem;
            border-radius: 5px;
            & a {
                color: black;
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 1rem;
                justify-content: center;
                gap: .3125rem;
                & svg{
                    font-size: 1rem !important;
                    flex-shrink: 0 !important;
                    color: var(--cor-principal);
                }
            }
        }
        
        & li:hover{
            background-color: #ecf2f7;
        }
    }
}

.logotipo-fle img{
    width: 10rem;
    opacity: 80%;
    filter: saturate(0%);
    transform: translateY(2px);
    padding: 1rem;
}

.logotipo-fle img:hover{
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: 100%;
    filter: saturate(100%);
}

.menu-burger-li{
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-burger{
    color: var(--cor-principal);
}



@media (max-width: 750px) {
  header{
    width: 100%;
    padding: 1vh 1.25rem;
    left: 0%;
    top: 0vh;
    transform: translate(0%,0%);
    border-radius: 0px;
  }

  .menu-burger-li{
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .li-option{
    display: none;
  }

  .mobile-menu{
    width: 100%;
    justify-content: space-evenly;
    padding: 0 !important;
    margin: 0 !important;
    & li{
        width: 30%;
    }
  }
}
