.qrcode{
    width: 200px !important;
    height: 200px !important;
    border-radius: 10px;
}

.qrcodeContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & button{
        width: 85%;
    }
}